.footer {
	background: $bg-color;
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 100%;
	text-align: center;
	&__top {
		background: #fff;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100%;
		padding: 80px 20px;
		border: solid rgba(155, 155, 155, 0.3);
		border-width: 1px 0 1px;
		img {
			width: 100px;
			aspect-ratio: 1;
			border-radius: 50%;
			margin-bottom: 20px;
		}
		P {
			margin-bottom: 10px;
			&:first-child {
				color: $header-link-color-active;
			}
			&:last-child {
				color: $header-link-color;
			}
		}
	}

	a {
		padding: 40px;
		color: $header-link-color;
		margin-left: auto;
	}
}