@import "generalStyle";

.container {
  width: $container-w;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto 0;
  align-items: center;
  min-width: 0;
  @media (max-width: $bp-1024) {
  }
}

.main-block {
  scroll-margin-top: $header-height-def;
  width: $main-block-w;
  padding: 20px;
  display: flex;
  flex-direction: column;
  margin: 0 0 80px;
  @media (max-width: $bp-1024) {
    width: 100%;
  }
}

.start-block {
  color: $bg-color;
  min-height: 770px;
  min-width: 0;
  width: 100%;
  padding: ($header-height-def + 130px) 0 40px;
  word-wrap: break;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;

  &__image {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: -9999;
    left: 0;
    top: 0;
    img {
      width: 100%;
      height: 100%;
      opacity: 0.4;
      object-fit: cover;
    }
  }
  &__item {
    padding: 0 20px;

    h1 {
      font-size: 3rem;
      width: 50%;
      margin: 0 auto 40px;
      text-align: center;
      color: $bg-color;
      @media (max-width: $bp-1024) {
        width: 100%;
        font-size: 2rem;
        text-align: start;
        margin: 0 0 40px;
      }
    }
    p {
      font-size: 1.4rem;
      text-align: center;
      width: 50%;
      margin: 0 auto;
      @media (max-width: $bp-1024) {
        width: 100%;
        text-align: start;
        margin: 0 0 40px;
        font-size: 1.15rem;
        margin: 0;
        line-height: 2rem;
      }
    }
  }

  &__swiper {
    margin: auto auto 0;
    width: 750px;
    height: 100px;
    position: relative;
    @media (max-width: $bp-1024) {
      width: 100%;
    }
  }

  &__swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    p {
      text-align: center;
      width: fit-content;
      transition: 0.3s;
    }
  }

  &__swiper-button-prev,
  &__swiper-button-next {
    border-radius: 50%;
    width: 44px;
    &::after {
      color: $bg-color;
      aspect-ratio: 1;
      font-size: 1.5rem;
      transition: 0.3s;
    }
    @media (min-width: $bp-1024) {
      &:hover {
        background: $bg-color;
        &::after {
          color: $header-link-color-active;
        }
      }
    }
  }
  @media (min-width: $bp-1024) {
    &__swiper-button-prev:hover {
      &::after {
        transform: translateX(-5px);
      }
    }

    &__swiper-button-next:hover {
      &::after {
        transform: translateX(5px);
      }
    }
  }

  &__swiper-pagination {
    @media (max-width: 350px) {
      transform: translate3d(0, 10px, 0);
    }
    .swiper-pagination-bullet {
      background: #fff;
    }
  }
}

.services-block {
  &__heading {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 30px;
    margin-bottom: 30px;
    border-radius: 5px;
    @media (max-width: $bp-1024) {
      gap: 20px;
      margin-bottom: 20px;
    }
    &-swiper-button-prev,
    &-swiper-button-next {
      border-radius: 50%;
      width: 44px;
      &::after {
        color: $bg-color;
        aspect-ratio: 1;
        font-size: 1.5rem;
        transition: 0.3s;
      }
      // @media (min-width: $bp-1024) {
      // 	&:hover {
      // 		background: $bg-color;
      // 		&::after {
      // 			color: $header-link-color-active;
      // 		}
      // 	}
      // }
    }
    // @media (min-width: $bp-1024) {
    // 	&-swiper-button-prev:hover {
    // 		&::after {
    // 			transform: translateX(-5px);
    // 		}
    // 	}

    // 	&-swiper-button-next:hover {
    // 		&::after {
    // 			transform: translateX(5px);
    // 		}
    // 	}
    // }

    h1 {
      font-size: 2.5rem;
      padding: 10px;
      text-align: center;
      transition: 0.3s;
      background-color: $pink;
      color: $bg-color;
			user-select: none;
      // &.active {
      //   background-color: $pink;
      //   color: $bg-color;
      // }

      @media (max-width: $bp-1024) {
        font-size: 2rem;
      }

      @media (max-width: $bp-768) {
        // width: 100%;
        align-self: baseline;
        // min-width: 280px;
      }
    }
  }
  &__stock,
  &__order {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin: 0 0 50px;
    overflow: hidden;
    width: 100%;
    @media (max-width: $bp-1024) {
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }
  }

  &__content-wrapper {
    width: 100%;
  }

  &__item {
    font-size: 1.15rem;
    color: $header-link-color;
    cursor: pointer;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    flex-grow: 0;
    min-width: 1px;
    padding-bottom: 5px;
    &:nth-child(n + 6) {
      display: none;
      &.active {
        display: flex;
      }
    }

    @media (max-width: $bp-1024) {
      font-size: 1rem;
      &:nth-child(n + 5) {
        display: none;
        &.active {
          display: flex;
        }
      }
    }
    &:first-child {
      grid-area: 1 / 1 / 3 / 3;
      flex: 1;
      @media (max-width: $bp-1024) {
        grid-area: 1 / 1 / 2 / 2;
      }
    }
  }
  &__image {
    border-radius: 10px;
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
    margin: 0 0 10px;

    &:first-child {
      flex-grow: 1;
    }
    &:nth-child(n + 1) {
      aspect-ratio: 1;
    }
    img {
      width: 100%;
      object-fit: cover;
      transition: 0.5s;
      display: flex;
      &:hover {
        transform: scale(1.05);
      }
    }
  }
  &__name {
    margin: auto 0;
    padding-bottom: 6px;
    @include Ellipsis;
  }
  &__price {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
  }
  &__real-price {
    color: $header-link-color-active;
  }
  &__show-more-button {
    background: $pink;
    color: $bg-color;
    border-radius: 10px;
    width: 180px;
    height: 40px;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    margin: 0 auto;
    cursor: pointer;

    &:active {
      transform: scale(0.9);
      transition: 0.1s;
      user-select: none;
    }
  }
}

.description-block {
  width: 800px;
  @media (max-width: $bp-1024) {
    width: 100%;
  }
  &__item {
    display: flex;
    flex-direction: column;
    h1 {
      margin-bottom: 30px;
      text-align: center;
      font-size: 2.5rem;
      @media (max-width: $bp-1024) {
        text-align: start;
        font-size: 2rem;
      }
    }

    p {
      margin-bottom: 35px;
      font-size: 1.35rem;
      color: $header-link-color;
      text-align: center;

      &:last-child,
      &:nth-last-child(2) {
        align-self: center;
        @media (max-width: $bp-320) {
          align-self: flex-start;
        }
      }
      @media (max-width: $bp-1024) {
        text-align: start;
        font-size: 1.1rem;
        margin-bottom: 15px;
        line-height: 1.5rem;
      }
    }
  }
}

.masterclass-block {
  h1 {
    font-size: 2.5rem;
    margin-bottom: 30px;
    text-align: start;
    @media (max-width: $bp-1024) {
      text-align: center;
      font-size: 2rem;
    }
  }

  &__swiper {
    height: 300px;
    width: 100%;
  }
  &__swiper-slide {
    overflow: hidden;
    align-items: center;
    justify-content: center;
    display: flex;
    width: fit-content;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 5px;
    a {
      width: 100%;
      height: 250px;
    }
    img {
      border-radius: 20px;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    > div {
      display: flex;
      flex-direction: column;
      width: 100%;
      font-size: 1.2rem;
      gap: 5px;
      p {
        @include Ellipsis;
        &:first-child {
          color: $header-link-color;
        }
        &:last-child {
          color: $header-link-color-active;
        }
      }
    }
  }

  &__swiper-button-prev,
  &__swiper-button-next {
    height: 100%;
    width: 44px;
    top: 0;
    &::after {
      color: #acacac;
      aspect-ratio: 1;
      font-size: 1.2rem;
      transition: 0.3s;
      font-weight: bold;
      box-shadow: 0px 0px 30px 5px rgba(34, 60, 80, 0.2);
      border-radius: 50%;
      min-width: 44px;
      background: #fff;
      transition: 0.3s;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    @media (min-width: $bp-1024) {
      &:hover {
        &::after {
          color: $header-link-color-active;
          transform: scale(1.1);
        }
      }
    }
  }
}

.review-block {
  h1 {
    font-size: 2.5rem;
    margin-bottom: 30px;
    text-align: start;
    @media (max-width: $bp-1024) {
      text-align: center;
      font-size: 2rem;
    }
  }

  &__swiper {
    width: 100%;
    align-items: stretch;
  }
  &__swiper-slide {
    overflow: hidden;
    align-items: center;
    display: flex;
    width: fit-content;
    height: auto;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 5px;
    background: #fff;
    padding: 20px 30px;
    line-height: 1.5rem;
    border-radius: 10px;
    h3 {
      font-size: 1.5rem;
      margin-bottom: 10px;
    }
    p {
      color: $header-link-color;
      font-size: 1.2rem;
    }
  }

  &__description {
    height: 100%;
  }

  &__swiper-button-prev,
  &__swiper-button-next {
    width: 45px;
    height: 45px;
    top: 50%;
    transition: 0.3s;
    background: #fff;
    box-shadow: 0px 0px 20px 5px rgba(34, 60, 80, 0.2);
    border-radius: 50%;
    &::after {
      color: #acacac;
      transition: 0.3s;
      font-weight: bold;
      font-size: 1.2rem;
    }

    @media (min-width: $bp-1024) {
      &:hover {
        transform: scale(1.1);
        &::after {
          color: $header-link-color-active;
        }
      }
    }
  }

  &__swiper-button-prev {
    left: 20px;
  }

  &__swiper-button-next {
    right: 20px;
  }
}

.contacts-block {
  h1 {
    font-size: 2.5rem;
    margin-bottom: 30px;
    text-align: start;
    @media (max-width: $bp-1024) {
      font-size: 2rem;
      text-align: center;
    }
  }
  &__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @media (max-width: $bp-1024) {
      flex-direction: column;
    }
  }
  &__map {
    border-radius: 10px;
    overflow: hidden;
    width: 700px;
    box-shadow: 0px 0px 20px 2px rgba(34, 60, 80, 0.2);
    @media (max-width: $bp-1024) {
      width: 100%;
    }
  }
  &__social {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    font-size: 1.2rem;
    @media (max-width: $bp-1024) {
      order: -1;
      margin-bottom: 30px;
      font-size: 1.1rem;
      a {
        margin-bottom: 10px;
      }
    }
  }
  &__link {
    color: #006db6;
  }
}
